# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
# .env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
public/data/Flood4_IDW.tif
public/data/KML/cnx_road.kml
public/data/KML/cnx_stream.kml

# Local env and OS files
.env
.env.local
.DS_Store
public/.DS_Store
components/.DS_Store
public/data/.DS_Store

# Large / local data files
public/data/KML/cnx_building*.kml
public/data/floodmark/
backup/
